<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
    <title>Dashboard</title>
</head>
<body>

    <div class="dashboard_container">
        <div class="dashboard_header">
            <img src="../static/locke.png" width="90" height="90">

            <div class="dashboard_header_text">
                <p>{{ user.username }}</p>
                <p style="color:#44c2db">LV</p>
                <p>{{ user.level }}</p>
            </div>

            <div class="dashboard_header_progress">
                <p>EXP:  {{ user.xp }} </p>
                <progress class="dashboard_xp_progress" value={{user.xp}} max="{{user.xp_needed}}"></progress>
                <p>next: {{ user.xp_needed }}</p>
            </div>
        </div>

        <div class="time_tracker">

            {% for activity in activities %}
            <div class="progress">
                <p style="width: 220px; color: #44c2db;"> {{ activity.name }} </p>
                <p style="width: 100px;">{{ activity.level }}</p>
                <p>{{ activity.xp}} / {{ activity.xp_needed }}</p>
                
                
                <a href="#" style="padding-top:4px; text-align: right;margin-left: 40px;color:#db4444" onclick="openTrackModal('{{ activity.id }}', '{{ activity.name }}'); return false;">GO</a>
            </div>
            <progress class="dashboard_xp_progress"  value={{activity.xp}} max={{activity.xp_needed}} style="width: 590px;margin-top: 7px;"></progress>
            
            {%endfor%}
        </div>

        
        
        
        
    </div>
    <div class="logout">        

            <li><a href="#" onclick="openModal();return false;">add activity</a></li>
            <li><a href="/logout" >Logout</a></li>
            
        </div>

    <div id="activityModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>New Activity</h2>
            <form method="POST" action="{{ url_for('add_activity') }}">
            <input type="text" name="name" placeholder="Activity name" required>
            <button type="submit">Add</button>
            </form>
        </div>
    </div>

    <div id="trackModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close" onclick="closeTrackModal()">&times;</span>
    <h2 id="activityName"></h2>
    <p>Time tracked: <span id="trackTimer">0</span> seconds</p>
    
    <form method="POST" action="{{ url_for('stop_tracking') }}">
      <input type="hidden" id="activityIdInput" name="activity_id">
      <input type="hidden" id="trackedSeconds" name="tracked_seconds">
      <button type="submit">Stop</button>
    </form>
  </div>
</div>

    <script>
    function openModal() {
    document.getElementById('activityModal').style.display = 'flex';
    }

    function closeModal() {
    document.getElementById('activityModal').style.display = 'none';
    }

let trackSeconds = 0;
let trackInterval;

function openTrackModal(activityId, activityName) {
    document.getElementById('trackModal').style.display = 'flex';
    document.getElementById('activityName').textContent = activityName;
    document.getElementById('activityIdInput').value    = activityId;
    document.getElementById('trackTimer').textContent   = '0';
    document.getElementById('trackedSeconds').value     = '0';

    trackSeconds  = 0;
    trackInterval = setInterval(() => {
    trackSeconds++;
    document.getElementById('trackTimer').textContent = trackSeconds;
    document.getElementById('trackedSeconds').value = trackSeconds;

    
  }, 1000);
}

function closeTrackModal() {
  document.getElementById('trackModal').style.display = 'none';
  clearInterval(trackInterval);
}
</script>

</body>
</html>